<!DOCTYPE html>
<html>
<head>
    <style>
        button {
            padding: 12px 24px;
            font-size: 16px
        }

        input {
            display: block;
            margin: 10px 0;
        }

        body {
            margin: 0;
        }

        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        form {
            text-align: center;
        }

    </style>
</head>
<body style="background-color: #ffe368">

<div class="container">

<form method="POST">
    <h1> Login page </h1>
    <input name="username">
    <input type="password" name="password">
    <button type="submit">Login</button>
</form>

{% if result is not none %}
<p>
    {% if result %}
        Authentication successful, correct password
    {% else %}
        Authentication failed, wrong username or password
    {% endif %}
</p>
{% endif %}

</div>
</body>
</html>